* {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

body{
    background-color: #f3f5f7;
}

.w {
    width: 1200px;
    margin: auto;
}



li {
    list-style: none;
}


.header {
    height: 42px;
    margin: 30px auto;
}

/* .header */
.logo {
    float: left;
    /* margin: 0 auto; */
    width: 198px;
    height: 42px;

}

/* .header */
.nav{
	float:left;
	margin-left:60px
	}

/* .header */
.nav ul li {
    float: left;
	margin:0px 15px;
}

/* .header */
.nav ul li a{
	display:block;
	height:42px;
	padding:0 10px;
	line-height:42px;
	font-size:18px;
	color:#050505;
}

/* .header */
.nav ul li a:hover{
    border-bottom:2px solid #00a4ff;
    color: #00a4ff;
}

/* .header */
.search{
    float: left;
    width: 412px;
    height: 42px;
    
    margin-left: 50px;
}

/* .header */
.search input[type="text"]{
    width: 330px;
    height: 40px;
    float: left;
    border: 1px solid #00a4ff;
    border-right: 0;
    font-size: 14px;
    color: #bfbfbf;
    padding-left: 30px;
}

/* .header  */
.search input[type="button"]{
    float: left;
    width: 50px;
    height: 42px;
    border: 0;
    background-image: url(images/s.jpg);
    
}

/* .header  */
.user{
    float: right;
    line-height: 42px;
    margin-right: 15px;
    font-size: 14px;
    color: #666;
}



.banner{
    height: 421px;
    background-color: #1c036c;
}

.banner .w{
    height: 421px;
    background-color: crimson;
}