@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tomleg');
    src:  url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?tomleg') format('truetype'),
      url('../fonts/icomoon.woff?tomleg') format('woff'),
      url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }


/* 版心： */
.w{
    width: 1200px;
    margin: 0 auto;
}
.fl{
    float: left;
}
.fr{
    float:right;
}
.style_red{
    color: #c81623;
}

.shortcut .fr ul li:nth-child(even){
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px;
}

/* 快捷导航模块 */
.shortcut{
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}

.shortcut ul li{
    float: left;
}


/* header 模块 */
.header{
    position: relative;
    height: 105px;
    background-color: orange;
}
.header .logo{
    position: absolute;
    top: 25px;
    /* width: 175px;
    height: 56px; */
    width: 171px;
    height: 61px;
    /* background-color: blue; */
}

.header .logo a{
    display: block;
    /* width: 100%; */
    height: 61px;
    background-image:url(../images/logo.png);
    background-repeat: no-repeat;
    /* 京东做法： */
    font-size: 0;
    /* 淘宝做法： */
    /* text-indent: -99999px;
    overflow: hidden; */
}

.header .search{
    position: absolute;
    top: 25px;
    left:346px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.header .search input{
    height: 100%;
}

.header .search input[type="search"]{
    width: 455px;
    padding-left: 10px;
}

.header .search input[type="button"]{
    width: 79px;
    background-color: #b1191a;
    font-size: 16px;
    color:#FFF;
}

.header .hotwords{
    position: absolute;
    top:66px;
    left:346px;
}
.header .hotwords a{
    margin: 0 10px;
}