@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tomleg');
    src:  url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?tomleg') format('truetype'),
      url('../fonts/icomoon.woff?tomleg') format('woff'),
      url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }


/* 版心： */
.w{
    width: 1200px;
    margin: 0 auto;
}
.fl{
    float: left;
}
.fr{
    float:right;
}
.style_red{
    color: #c81623;
}


/* 快捷导航模块 */
.shortcut .fr ul li:nth-child(even){
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px;
}
.shortcut .fr ul li:nth-child(odd){
    cursor: pointer;
}
.shortcut{
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}

.shortcut ul li{
    float: left;
}

.shortcut ul .arrow-icon::after{
    font-family: 'icomoon';
    content: "\e91e";
}

/* header 模块 */
.header{
    position: relative;
    height: 105px;
}
.header .logo{
    position: absolute;
    top: 25px;
    /* width: 175px;
    height: 56px; */
    width: 171px;
    height: 61px;
    /* background-color: blue; */
}

.header .logo a{
    display: block;
    /* width: 100%; */
    height: 61px;
    background-image:url(../images/logo.png);
    background-repeat: no-repeat;
    /* 京东做法： */
    font-size: 0;
    /* 淘宝做法： */
    /* text-indent: -99999px;
    overflow: hidden; */
}

.header .search{
    position: absolute;
    top: 25px;
    left:346px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.header .search input{
    height: 100%;
}

.header .search input[type="search"]{
    width: 455px;
    padding-left: 10px;
}

.header .search input[type="button"]{
    width: 79px;
    background-color: #b1191a;
    font-size: 16px;
    color:#FFF;
}

.header .hotwords{
    position: absolute;
    top:66px;
    left:346px;
}
.header .hotwords a{
    margin: 0 10px;
}

.header .shopcar{
    position: absolute;
    top: 25px;
    right: 60px;
    width: 140px;
    height: 35px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    line-height: 35px;
    text-align: center;
}
.header .shopcar::before{
    font-family: 'icomoon';
    content: "\e93a";
    color:#b1191a;
    margin-right: 5px;
}
.header .shopcar::after{
    font-family: 'icomoon';
    content: "\e920";
    margin-left: 10px;
}
.header .shopcar .count{
    position: absolute;
    top:-5px;
    /* right: 20px;  这里如果用 right ，当件数 80000000 时会向左张开，所以用 left 避免这种情况 */
    left:105px;
    height: 14px;
    padding: 0 5px;
    line-height: 14px;
    border-radius:7px 7px 7px 0;
    background-color:#e60012;
    /* font-size: 1px; */
    color: #fff;
}

/* nav 导航栏 */
.nav{
    height: 47px;
    border-bottom: 2px solid red;
}
.nav .w{
    
}
.nav .w .dorpdown{
    float: left;
    /* width: 171px; */
    width: 210px;
    height: 45px;
    background-color: #b1191a;
}
.nav .w .dorpdown .dt{
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-size: 16px;
}
.nav .w .dorpdown .dd{
    height: 465px;
    background-color: #c81623;
}
.nav .w .dorpdown .dd ul li{
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
}
.nav .w .dorpdown .dd ul li a{
    margin-left: 10px;
    font-size: 14px;
    color: #FFF;
}
.nav .w .dorpdown .dd li:hover{
    background-color: #fff;
    font-size: 14px;
}
.nav .w .dorpdown .dd ul li:hover a{
    color: #c81623;
}

.nav .w .navitems{
    float: left;
    background-color: yellow;
}
