header{
    height: 84px;
    border-bottom: 2px solid #c81523;

}
header img{
    padding-top: 18px;
}


/* 注册主体 */
.registerarea{
    height: 522px;

    /* background-color:orange; */
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3{
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    font-size: 18px;
    font-weight: 400;
    padding: 0 10px;
}
.registerarea h3 span{
    float: right;
    font-size: 14px;
}


form{
    width: 600px;
    margin: 60px auto 0;
    /* background-color: orange; */
}
form ul li{
    margin-bottom: 20px;
}
form ul li label{
    display:inline-block;
    width: 88px;
    text-align: right;
}
form ul li input{
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}
form ul li span i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/error.png) no-repeat;
    vertical-align: middle;
    margin-top: -2px;
}
.success_icon{
    background: url(../images/success.png) no-repeat;
}
.success{
    color: green;
}
.safe{
    padding-left: 165px;
}
.safe em{
    color: #fff;
    padding: 0 12px;
}
.red{
    background-color: #de1111;
}
.green{
    background-color: #40b83f;
}
.yellow{
    background-color: #f79100;
}
form ul li input[type="checkbox"]{
    width: 13px;
    height: 13px;
}
.agree{
    margin-left: 90px;
}
.agree input{
    vertical-align: middle;
}
.agree label{
    display:inline-block;
    width: 400px;
    text-align: left;
}
.agree a{
    color: #1ba1e6;
}
form ul li input[type="submit"]{
    width: 200px;
    height: 34px;
    background-color: red;
    font-size: 14px;
    color: #fff;
    margin:30px 0 0 100px;
}


/* .footer .mod_copyright{
    text-align: center;
    padding-top: 20px;
}
.footer .mod_copyright .links a{
    margin: 0 15px;
}
.footer .mod_copyright .copyright{
    margin-top: 10px;
} */